@page "/registrarpage"
@using LabMobile.Models
@using LabMobile.Services
@inject IRegistrarService RegistrarService
@inject NavigationManager NavigationManager;

<h3>Registrars</h3>

@if (nurses == null)
{
    <p><em>Loading...</em></p>
}
else if (nurses.Count == 0)
{
    <p><em>No nurses found.</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Contact Information</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var nurse in nurses)
            {
                <tr>
                    <td>@nurse.Name</td>
                    <td>@nurse.DateOfBirth.ToShortDateString()</td>
                    <td>@nurse.Gender</td>
                    <td>@nurse.ContactInformation</td>
                    <td>
                        <button @onclick="@(() => EditAssistant(nurse.Id))">Edit</button>
                        <button @onclick="@(() => DeleteAssistant(nurse.Id))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<a href="/registrar/create">Create</a>

@code {
    List<Registrar> nurses;

    protected override async Task OnInitializedAsync()
    {
        nurses = await RegistrarService.GetAllAsync();
    }

    private async Task EditAssistant(Guid id)
    {
        // Navigate to edit assistant page
        NavigationManager.NavigateTo($"/registrar/update/{id}");
    }

    private async Task DeleteAssistant(Guid id)
    {
        // Confirm deletion with user

        try
        {
            await RegistrarService.DeleteAsync(id);
        }
        catch (Exception ex)
        {
            // Handle error
        }
    }
}
