@page "/myresults"

@using LabModels
@using LabMobile.Services
@inject NavigationManager NavigationManager

<h3>MyAnalisis</h3>

@if (analysisResults != null)
{
    <ul>
        @foreach (var result in analysisResults)
        {
            <li>
                <strong>Patient Name:</strong> @result.PatientName <br />
                <strong>Laboratory Assistant Name:</strong> @result.LaboratoryAssistantName <br />
                <strong>Nurse Name:</strong> @result.NurseName <br />
                <strong>Registrar Name:</strong> @result.RegistrarName <br />
                <strong>Analysis Name:</strong> @result.AnalysisName <br />
                <strong>Analysis Reception Point Name:</strong> @result.AnalysisReceptionPointName <br />
                <strong>Time:</strong> @result.Time <br />
                <strong>Analysis Values:</strong> @result.AnalysisValues <br />

                <button @onclick="async () => await GetAdvice(result)">AI Assistance</button>
                @if (adviceDictionary.ContainsKey(result))
                {
                    <p><strong>AI Advice:</strong> @adviceDictionary[result]</p>
                }
            </li>
        }
    </ul>
}
else
{
    <p>No analysis results found.</p>
}


@code {
    [Inject]
    private IAnalysisResultService AnalysisResultService { get; set; }

    [Inject]
    private IChatGptService ChatGptService { get; set; }

    private List<AnalysisResultResult> analysisResults;
    private Dictionary<AnalysisResultResult, string> adviceDictionary;

    protected override async Task OnInitializedAsync()
    {
        analysisResults = await AnalysisResultService.GetAnalysisResultResultAsync();
        adviceDictionary = new Dictionary<AnalysisResultResult, string>();
    }

    private async Task GetAdvice(AnalysisResultResult analysisResult)
    {
        if (!adviceDictionary.ContainsKey(analysisResult))
        {
            var advice = await ChatGptService.GetAdviceAsync(analysisResult);
            adviceDictionary.Add(analysisResult, advice);
        }
    }
}
